@model IEnumerable<UnidadesModel>
@{
    ViewData["Title"] = "Unidades";
}

<h1 class="display-4">Listagem de Unidades</h1>

<p>
  <a asp-action="Create"> Criar novo Unidade </a>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        Nome da Unidade
      </th>
      <th scope="col">
        Colaboradores inscritos
      </th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
@foreach (var unidade in Model) 
{
  <tr>
      <td scope="col">
        @Html.DisplayFor(modelUnidade => unidade.UnidadeNome)
      </td>
      <td scope="col">
        @Html.DisplayFor(modelUnidade => unidade.Colaboradores)
      </td>
      <td scope="col">
        <a asp-action="Edit" asp-route-id="@unidade.UnidadeId">Editar</a>
        <a asp-action="Details" asp-route-id="@unidade.UnidadeId">Visualizar</a>
        <a asp-action="Delete" asp-route-id="@unidade.UnidadeId">Excluir</a>      
      </td>
    </tr>
}
  </tbody>
  <a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Voltar</a>
</table>