@model IEnumerable<ColaboradoresModel>
@{
    var mensagemErro = TempData["MensagemErro"] as string;
}

@if (!string.IsNullOrEmpty(mensagemErro))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @mensagemErro
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@{
    ViewData["Title"] = "Colaboradores";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-4 text-secondary">
           <i class="bi bi-person-check-fill"></i>Listagem de Colaboradores
        </h1>
        <a class="btn btn-warning" asp-controller="Colaboradores" asp-action="AbrirViewCriar">
            <i class="bi bi-plus-circle"></i> Criar novo Colaborador
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
            <h5 class="mb-0">
                <i class="bi bi-list mr-2"></i>Colaboradores Cadastrados
            </h5>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">
                            <i class="bi bi-person"></i> Colaborador
                        </th>
                        <th scope="col">
                            <i class="bi bi-building-fill"></i> Unidade pertencente
                        </th>
                        <th scope="col" class="text-end">
                            <i class="bi bi-sliders mr-2"></i> Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var colaborador in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                <strong>@Html.DisplayFor(modelUsuario => colaborador.ColaboradorNome)</strong>
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelUsuario => colaborador.UnidadeId)
                            </td>
                            <td class="text-end">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-sm btn-outline-primary" asp-action="AbrirViewEditar" asp-route-id="@colaborador.ColaboradorId">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-sm btn-outline-info" asp-action="Detalhes" asp-route-id="@colaborador.ColaboradorId">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" asp-action="AbrirViewDeletar" asp-route-id="@colaborador.ColaboradorId">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
            <i class="bi bi-arrow-left-circle-fill me-1"></i> Voltar
        </a>
    </div>
</div>