@model IEnumerable<ColaboradoresModel>
@{
    ViewData["Title"] = "Colaboradores";
}

<h1 class="display-4">Listagem de Colaboradores</h1>

<p>
  <a asp-action="Create"> Criar novo Colaborador </a>
</p>

<div class="container">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">
            Colaborador
        </th>
        <th scope="col">
            Unidade pertencente
        </th>
        <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var colaborador in Model) 
    {
    <tr>
        <td scope="col">
            @Html.DisplayFor(modelUsuario => colaborador.ColaboradorNome)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelUsuario => colaborador.Unidade)
        </td>
        <td scope="col">
            <a asp-action="Edit" asp-route-id="@colaborador.ColaboradorId">Editar</a> 
            <a asp-action="Details" asp-route-id="@colaborador.ColaboradorId">Visualizar</a>
            <a asp-action="Delete" asp-route-id="@colaborador.ColaboradorId">Excluir</a> 
        </td>
        </tr>
    }
    </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Voltar</a>
</div>